*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body{
    width: 15em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.presenting{
   margin-top: 20px;
  width: 15em;
}